<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange) = 'setSearchValue($event)'></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size-lg = 400 offset-lg = 175 size-md = 500 offset-md = 100 size = 1200>
        <ion-button expand="block" [fill]="!searchTweets ? 'solid' : 'outline' " (click)="searchTweets = false; this.search()" >
          Show users
        </ion-button>
      </ion-col>

      <ion-col size-lg = 400 offset-lg = 50 size-md = 500 offset-md = 50 size = 1200>
        <ion-button expand="block"  [fill]="searchTweets ? 'solid' : 'outline' " (click)="searchTweets = true; this.search()" >
          Show tweets 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="searchTweets">
    <!-- detail [routerLink] = "['/', 'main', 'tabs', 'discover', 'product', item.id]" -->
    <ion-item *ngFor ='let tweet of tweets; let i = index' >
      <!-- <ion-icon slot="start" name="person-outline" *ngIf="i%2 == 0"></ion-icon> -->
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>
        <h1>
          {{tweet.user.tag}} 
        </h1>
        <p>
          {{tweet.tweet.text}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!searchTweets">
    <!-- detail [routerLink] = "['/', 'main', 'tabs', 'discover', 'product', item.id]" -->
    <ion-item *ngFor ='let userItem of users; let i = index' >
      <ion-thumbnail slot="start" *ngIf="userItem.imageCanBeShown">
        <ion-img [src] = 'userItem.user.imageSrc' (ionError)="imageError(userItem)"></ion-img>
      </ion-thumbnail>
      <ion-icon slot="start" name="person-outline" *ngIf="!userItem.imageCanBeShown"></ion-icon>
      <ion-label>
        <h1>
          {{userItem.user.tag}} 
        </h1>
        <p>
          {{userItem.user.name}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


